<app-index-navbar></app-index-navbar>
<div class="view background-login">
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center full-height">
    <div class="container">
      <div class="row mt-5">

        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
          <app-text-box></app-text-box>
        </div>

        <div class="col-md-6 col-xl-5 mb-4">
          <app-login-form></app-login-form>
        </div>

      </div>
    </div>
  </div>
</div>
