<!--Form-->
<div class="card wow fadeInRight" data-wow-delay="0.3s">
  <div class="card-body">
    <!--Header-->
    <div class="text-center">
      <h3 class="white-text">
        <i class="fa fa-lock white-text"></i> Zaloguj:</h3>
      <hr class="hr-light">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="md-form">
        <i class="fa fa-envelope prefix white-text active"></i>
        <input
          class="white-text form-control"
          type="email"
          id="email"
          name="email"
          formControlName="email"
        />
        <label for="email" class="active">Podaj Email</label>
      </div>
      <div class="md-form">
        <i class="fa fa-lock prefix white-text active"></i>
        <input
          class="white-text form-control"
          type="password"
          id="password"
          name="password"
          formControlName="password"
        />
        <label for="password" class="active">Podaj Hasło</label>
      </div>
      <div class="text-center mt-4">
        <div class="alert alert-danger" [hidden]="!error"> {{ errorText }} </div>
        <button class="btn btn-indigo" type="submit" [hidden]="!form.valid">Loguj</button>
        <hr class="hr-light mb-3 mt-4">
        <div class="inline-ul text-center d-flex justify-content-center">
          <a class="p-2 m-2 tw-ic">
            <i class="fa fa-twitter white-text"></i>
          </a>
          <a class="p-2 m-2 li-ic">
            <i class="fa fa-linkedin white-text"> </i>
          </a>
          <a class="p-2 m-2 ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
