<!--Form-->
<div class="card wow fadeInRight" data-wow-delay="0.3s">
  <div class="card-body">
    <!--Header-->
    <div class="text-center">
      <h3 class="white-text">
        <i class="fa fa-user white-text"></i> Rejestracja:</h3>
      <hr class="hr-light">
    </div>
    <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" >
    <div class="md-form">
      <i class="fa fa-envelope prefix white-text active"></i>
      <input
        class="white-text form-control validate"
        type="email"
        name="email"
        id="email"
        #email="ngModel"
        [(ngModel)]="user.email"
        [pattern]="emailPattern"
        required
      />
      <label for="email" class="active">Podaj Email</label>
    </div>
    <div class="md-form">
      <i class="fa fa-lock prefix white-text active"></i>
      <input
        class="white-text form-control"
        type="password"
        id="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="user.password"
        required
      />
      <label for="password" class="active">Podaj Hasło</label>
    </div>
      <div class="alert alert-danger" [hidden]="!info"> {{ infoText }} </div>
      <div class="alert alert-danger" [hidden]="!error"> {{ errorText }} </div>
    <div class="text-center mt-4">
      <button class="btn btn-green" type="submit" [disabled]="button">Rejestruj</button>
      <hr class="hr-light mb-3 mt-4">
      <div class="inline-ul text-center d-flex justify-content-center">
        <a class="p-2 m-2 tw-ic">
          <i class="fa fa-twitter white-text"></i>
        </a>
        <a class="p-2 m-2 li-ic">
          <i class="fa fa-linkedin white-text"> </i>
        </a>
        <a class="p-2 m-2 ins-ic">
          <i class="fa fa-instagram white-text"> </i>
        </a>
      </div>
    </div>
    </form>
  </div>
</div>
