<ngb-carousel *ngIf="images">
<ng-template ngbSlide>
  <img [src]="images[0]" alt="Random first slide">
</ng-template>
<ng-template ngbSlide>
  <img [src]="images[1]" alt="Random second slide">
</ng-template>
<ng-template ngbSlide>
  <img [src]="images[2]" alt="Random third slide">
</ng-template>
</ngb-carousel>

<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
  <div class="text-center white-text mx-5 wow fadeIn">
    <h1 class="mb-4">
      <strong> {{ title }} </strong>
    </h1>
    <p>
      <strong>{{ subtitle }}</strong>
    </p>
    <p class="mb-4 d-none d-md-block">
      <strong>
        {{ description }}
      </strong>
    </p>
    <a target="_blank" routerLink="/register" class="btn btn-outline-white btn-lg">Zarejestruj sie już teraz
      <i class="fa fa-graduation-cap ml-2"></i>
    </a>
  </div>
  <!-- Content -->
</div>


