<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="isLoading">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <p class="card-category">Przychody</p>
            <h3 class="card-title"> {{ stats.przychody.toFixed(2) }} <small>zł</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Aktualizacja 1h
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">keyboard_arrow_up</i>
            </div>
            <p class="card-category">Wydatki</p>
            <h3 class="card-title"> {{ stats.wydatki.toFixed(2) }} <small>zł</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Aktualizacja 1h
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">compare_arrows</i>
            </div>
            <p class="card-category">Saldo</p>
            <h3 class="card-title">{{ stats.bilans.toFixed(2) }} <small>zł</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Udało sie
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_car_wash</i>
            </div>
            <p class="card-category">Na paliwo</p>
            <h3 class="card-title">{{ stats.paliwo.toFixed(2) }} <small>zł</small> </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Zatankuj
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Wykres wydatkow (przklad)</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> wzrostu.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> zaktulizowano 4 minuty temu
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Oszczędności na miesiąc</h4>
            <p class="card-category">Caly rok</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>  zaktulizowano 24 godziny temu
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Ilosc kilometrów</h4>
            <p class="card-category">Miesiąc</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> zaktulizowano 24 godziny temu
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Nowości</h4>
            <p class="card-category">Aktualizacje w systemie</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <th>ID</th>
              <th>Data</th>
              <th>Opis</th>
              <th>Autor</th>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>2018/06/14</td>
                <td>Moduł wydatkow</td>
                <td>Patryk Przybek</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2018/06/14</td>
                <td>Wzmocnienie zabezpieczeń</td>
                <td>Patryk Przybek</td>
              </tr>
              <tr>
                <td>3</td>
                <td>2018/06/14</td>
                <td>Testy API</td>
                <td>Patryk Przybek</td>
              </tr>
              <tr>
                <td>4</td>
                <td>2018/06/14</td>
                <td>Pierwsze kroki ... </td>
                <td>Patryk Przybek</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../assets/img/faces/me.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Twórca</h6>
            <h4 class="card-title">Patryk Przybek</h4>
            <p class="card-description">
              Aplikacja w trakcje rozwoju
            </p>
            <a href="https://www.facebook.com/DarknessLightOfficial" class="btn btn-danger btn-round">KONTAKT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
