<main>
  <div class="container">

    <section class="mt-5">

      <h3 class="h3 text-center mb-5">Krótko o ...</h3>
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">
          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Patryk Przybek - WebProSoftware</h5>
              <p class="grey-text">Realiazowane w ramach projektu zaliczeniowego zajecia Projetkowania Aplikacji Intenetowych</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Kontroluj swoje wydatki</h5>
              <p class="grey-text">W jednym miejscu znajdziesz wszystki potrzebne Ci narzędzia do kontroli własnych finansów </p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-graduation-cap fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Ucz się oszczędzać </h5>
              <p class="grey-text">Przyjazny inteface oraz ciekawe metody motywacji pozwalaja zmotywować do oszczędzania</p>
            </div>
          </div>
          <!--/Third row-->

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">

          <p class="h5 text-center mb-4">Jedyna na rynku darmowa aplikacja</p>
          <div class="embed-responsive ">
            <img src="../../assets/img/free.png" alt="MDB Magazine Template displayed on iPhone">
          </div>
        </div>
        <!--/Grid column-->

      </div>
      <!--/Grid row-->

    </section>

    <hr class="my-5">
    <section>

      <h2 class="my-5 h3 text-center">Nasze atuty</h2>
      <!--First row-->
      <div class="row features-small mb-5 mt-3 wow fadeIn">

        <!--First column-->
        <div class="col-md-4">
          <!--First row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Darmowy dostęp</h6>
              <p class="grey-text">Możesz kozystać do woli i bez zadnych opłat, bez podawania swoich danych
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/First row-->

          <!--Second row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Częste aktualizacje</h6>
              <p class="grey-text">Cały czas staramy się aby nasza aplikacja sie rozwijała zapewniamy nowe aktualiacje
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Second row-->

          <!--Third row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Multi platformowość</h6>
              <p class="grey-text">Kożystaj gdzie chces i z jakiego urządzenia chcesz</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Third row-->

          <!--Fourth row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Masz sugestie</h6>
              <p class="grey-text">Z otwartymi rekami przyjmujemy pomysly dalszego rozwoju naszego systemu</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Fourth row-->
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4 flex-center">
          <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-4 mt-2">
          <!--First row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">70+ CSS animations</h6>
              <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your project and delight your visitors.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/First row-->

          <!--Second row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Plenty of useful templates</h6>
              <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Second row-->

          <!--Third row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Easy installation</h6>
              <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Third row-->

          <!--Fourth row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Easy to use and customize</h6>
              <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep customization. You will
                easily adjust each component to suit your needs.</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Fourth row-->
        </div>
        <!--/Third column-->
      </div>
      <!--/First row-->
    </section>
  </div>
</main>
