<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <div class="pt-4">
    <button class="btn btn-outline-white" role="button">Pobierz apliacje
      <i class="fa fa-download ml-2"></i>
    </button>
  </div>

  <hr class="my-4">

  <div class="pb-4">
    <a href="https://www.facebook.com/webprosoftware/" target="_blank">
      <i class="fa fa-facebook mr-3"></i>
    </a>

    <a href="https://www.instagram.com/darknesslightmisic" target="_blank">
      <i class="fa fa-instagram mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/1/113860235331362196743" target="_blank">
      <i class="fa fa-google-plus mr-3"></i>
    </a>

    <a href="https://github.com/WebProSoftware" target="_blank">
      <i class="fa fa-github mr-3"></i>
    </a>
  </div>

  <div class="footer-copyright py-3">
    © 2018 Copyright:
    <a href="https://webps.pl" target="_blank"> WebProSoftware Patryk Przybek</a>
  </div>

</footer>
