<app-index-navbar></app-index-navbar>
<div class="view background-login">
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center full-height">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row mt-5">
        <!--Grid column-->
        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text  text-md-left">
          <h1 class="h1-responsive font-weight-bold ">Dołącz do Nas</h1>
          <hr class="hr-light" >
          <h6 class="mb-3 ">
            Szybka rejestracja, całkiem za darmo. Mnóstwo możliwości. Aby zarejestrować sie należy podać tylko Email oraz hasło.
            Następnie zostanie wysłany na e-mail link weryfikacyjny konta
          </h6>
          <a class="btn btn-outline-white" routerLink="/" >Czytaj więcej</a>
        </div>
        <div class="col-md-6 col-xl-5 mb-4">
          <app-registration-form></app-registration-form>
        </div>
      </div>
    </div>
  </div>
</div>
