.background-login {
  background: url('../../assets/img/register_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.rgba-gradient {
  background: rgba(0,0,0,0.5)
}



